@import './scss/variables';
@import './scss/libs/normalize';
@import './scss/components/all';

body {
  background-color: $bg;
}

.wrapper {
  width: calc(100vw - 100px);
  height: 100%;
  background-color: darken($color: $white, $amount: 3%) ;
  margin: 0 auto;
  border-radius: 10px;
  max-width: 1400px;
}

.container {
  width: $container-width;
  margin: 0 auto;
}

.content {
  padding: 40px 0;

  &__top {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  &__title {
    display: inline-block;
    margin: 30px 0;
    color: $dark-font;

    &::after {
      content: '';
      display: block;
      width: 100%;
      height: 8px;
      background-color: $orange;
      border-radius: 4px;
      margin-top: 5px;
    }
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 -10px;
  }
}