@import '../../scss/all';

.root {
  width: calc(100vw - 100px);
  max-width: 1400px;
  min-height: 100vh;
  background-color: darken($color: $white, $amount: 3%);
  margin: 0 auto;
  border-radius: 10px;
  position: relative;

  @media (max-width: 768px) {
    width: calc(100vw - 50px);
  }

  @media (max-width: 468px) {
    width: calc(100vw - 24px);
  }

  @media (max-width: 390px) {
    width: calc(100vw - 20px);
  }
}

.container {
  width: 90%;
  margin: 0 auto;

  @media (max-width: 468px) {
    width: 95%;
  }
}