@import '../../scss/all';

.root {
  padding: 10px 0;
  min-height: calc(100vh - 226px);

  @media(max-width: 968px) {
    min-height: calc(100vh - 281px);
  }

  @media (max-width: 768px) {
    min-height: calc(100vh - 303px);
  }

  @media (max-width: 560px) {
    min-height: calc(100vh - 291px);
  }

  @media (max-width: 468px) {
    min-height: calc(100vh - 265px);
  }

  @media (max-width: 390px) {
    min-height: calc(100vh - 258px);
  }
}

.title {
  display: inline-block;

  @media (max-width: 560px) {
    font-size: 24px;
  }

  &::after {
    content: '';
    display: block;
    width: 100%;
    height: 8px;
    background-color: $orange;
    border-radius: 4px;
    margin-top: 5px;
  }
}

.list {
  margin-top: 20px;
}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  font-size: 18px;

  @media (max-width: 768px) {
    flex-direction: column;
  }

  .text {
    @media (max-width: 768px) {
      margin-bottom: 20px;
    }

    @media (max-width: 560px) {
      font-size: 16px;
    }

    @media (max-width: 440px) {
      font-size: 14px;
    }
  }

  span {
    font-weight: bold;
  }
}

.clearBtn {
  padding: 5px 10px;
  border: 1px solid $gray-light;
  border-radius: 5px;
  cursor: pointer;
  background-color: darken($color: $white, $amount: 3%);
  float: right;
  transition: all ease-in .1s;

  &:hover {
    border: 1px solid $gray-dark;
  }

  &:active {
    transform: translate(2px, 2px);
  }
}