@import '../../../scss/all';

.background__showed {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: $bg-modal-window;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background__closed {
  display: none;
}

.body {
  width: 100%;
  height: 100%;
  max-height: 90vh;
  max-width: 400px;
  background-color: $white;
  border-radius: 13px;
  position: relative;
}

.close {
  position: absolute;
  top: 0;
  right: -50px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: $white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  &::before {
    content: '✖';
    font-size: 14px;
  }
}

.title {
  padding: 15px 15px 10px;
  font-family: "Lugrasimo", cursive;
  font-size: 22px;
  font-weight: bold;
}

.content {
  height: calc(100% - 120px);
  overflow-y: auto;
}

.info {
  padding: 0 15px;
  color: $gray-font;
  margin: 10px 0;

  span {
    color: $gray-font;
  }
}

.components {
  padding: 0 15px;

  & span:not(:last-child)::after {
    content: ', '
  }
}

.form {
  p {
    font-weight: bold;
    padding: 0 15px;
    margin: 10px 0;
  }

  hr {
    width: 90%;
    background-color: $gray-light;
    margin: 0 auto 10px;
  }
}

.ingredient__list {
  padding: 0 15px;
}

.ingredient__list__item {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.ingredient__content {
  display: flex;
  align-items: center;

  span {
    padding-left: 10px;
  }
}