@import '../../../scss/_all';

.form {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 110px;
}

.bottom {
  font-size: 18px;
  font-weight: bold;
  text-align: right;

  @media(max-width: 560px) {
    font-size: 16px;
    margin: 20px 0;
  }

  p {
    margin-bottom: 10px;
  }
}

