@import '../../scss/all';

.card {
  width: 288px;
  background-color: $white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;

  &:hover {
    box-shadow: 0px 5px 15px $black;
  }

  @media (max-width: 580px) {
    width: 100%;
  }
}

.top {
  overflow: hidden;
  position: relative;
}

.image {
  display: block;
  width: 288px;
  border-radius: 10px 10px 0 0;

  @media (max-width: 430px) {
    width: 200px;
  }
}

.info {
  position: absolute;
  top: 15px;
  right: 15px;
  bottom: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.header {
  min-height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;

  &__text {
    align-self: flex-end;
    font-family: "Lugrasimo", cursive;
    color: $dark-font;
    font-size: 26px;
    text-align: right;
    padding-right: 5px;

    @media (max-width: 468px) {
      width: 70%;
      white-space: wrap;
      font-size: 22px;
    }

    @media (max-width: 390px) {
      font-size: 18px;
    }
  }

  &__icon {
    width: 30px;
    align-self: flex-start;
  }
}

.title {
  text-align: center;
  padding: 10px;
  color: $dark-font;

  @media (max-width: 390px) {
    font-size: 16px;
    padding: 5px;
  }
}

.components {
  padding: 0 10px 10px;
  margin-bottom: auto;


  @media (max-width: 468px) {
    font-size: 14px;
  }

  @media (max-width: 390px) {
    font-size: 12px;
  }

  & span:not(:last-child)::after {
    content: ', '
  }
}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.price {
  font-size: 36px;
  font-weight: 900;
  display: flex;
  align-items: flex-start;
  line-height: 30px;
  position: relative;
}

