@import '../../scss/_all';

.Input {
  $this: &;
  display: flex;
  align-items: center;
  width: 100%;
  height: 30px;
  background-color: $bg-form;
  border: 1px solid $gray-dark;
  border-radius: 4px;
  padding: 18px 40px 18px 12px;
  outline: transparent;
  transition: all 0.25s ease;

  &:hover {
    background-color: $white;
  }

  &#{$this}__error {
    background-color: $pink;

    &:hover {
      background-color: $pink-light;
    }
  }
}