@import '../../scss/all';

.root {
  border: 1px solid $blue-dark;
  background-color: $blue-light;
  border-radius: 6px;
  padding: 10px 15px;
  margin-bottom: 15px;

  &.finished {
    border: 1px solid $yellow-dark;
    background-color: $yellow;
  }
}

.mainInfo__list__item, 
.details__elemList__item {
  font-family: "Comfortaa", cursive;
  color: $dark-font;
  font-size: 16px;

  & span {
    font-weight: bold;
  }
}

.details__elemList__itemTitle {
  text-transform: capitalize;
}

.details {
  margin-top: 10px;
}

.details__elem:not(:last-child)::after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background-color: $white;
}

.btnsWrapper {
  display: flex;
  justify-content: space-between;

  @media (max-width: 648px) {
    flex-direction: column;
    min-height: 145px;
    width: 80%;
    margin: 0 auto;
  }

  @media (max-width: 389px) {
    width: 100%;
    margin: 0;
  }
}