@import '../../scss/all';

.list {
  display: flex;
  flex-wrap: wrap;

  @media (max-width: 768px) {
    flex-wrap: nowrap;
    width: 100%;
    overflow-x: auto;

    &::-webkit-scrollbar {
      height: 4px;
    }
  
    &::-webkit-scrollbar-thumb {
      border-radius: 2px;
      background: $pink;
    }
  }

  @media (max-width: 668px) {
    margin-bottom: 10px;

    &::-webkit-scrollbar {
      height: 2px;
    }
  }
}

.item {
  background-color: $bg-btn;
  color: $dark-font;
  padding: 15px 30px;
  border-radius: 30px;
  margin-right: 10px;
  margin-bottom: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  white-space: nowrap;

  @media (max-width: 668px) {
    padding: 10px 20px;
    font-size: 14px;
  }

  @media (max-width: 460px) {
    padding: 7px 10px;
    font-size: 12px;
  }

  &:hover {
    background-color: darken($bg-btn, 5%);
  }

  &:active {
      background-color: darken($bg-btn, 8%);
  }

  &.active {
    background-color: $bg-btn-active;
    color: $white;
  }
}

