.card {
  width: 288px;
  background-color: $white;
  border-radius: 10px;
  margin-bottom: 20px;

  &:hover {
    box-shadow: 0px 5px 15px $black;
  }

  &__top {
    height: 200px;
    overflow: hidden;
    position: relative;

    img {
      display: block;
      width: 288px;
    }

    &-info {
      position: absolute;
      top: 15px;
      right: 15px;
      bottom: 15px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end;

      .title {
        min-height: 65px;
        display: flex;
        justify-content: space-between;
        align-items: center;
  
        &__text {
          align-self: flex-end;
          font-family: "Lugrasimo", cursive;
          color: $dark-font;
          font-size: 36px;
        }
  
        &__icon {
          width: 30px;
          align-self: flex-start;
        }
      }

      .variants {
        display: flex;
        justify-content: space-between;
        color: $white;
        font-weight: bold;

        &__item {
          background-color: red;
          border-radius: 5px;
          padding: 5px;

          &:first-child {
            background-color: $first-weight-price-box;
          }
  
          &:nth-child(2) {
            background-color: $second-weight-price-box;
          }
  
          &:nth-child(3) {
            background-color: $third-weight-price-box;
          }
  
          &:nth-child(4) {
            background-color: $fourth-weight-price-box;
          }
  
          &:nth-child(5) {
            background-color: $fifth-weight-price-box;
          }

          .weight {
            font-size: 14px;
          }

          .price {
            .rubles {
              color: $white;
              font-weight: bold;
              font-size: 22px;
            }
            .kopecks {
              font-size: 12px;
            }
            .currency {
              margin-left: -10px;
            }
          }

          &:not(&:last-child) {
            margin-right: 10px;
          }
        }
      }
    }
  }

  &__title {
    text-align: center;
    padding: 10px;
    color: $dark-font;
  }

  &__components {
    padding: 0 10px 10px;

    & span:not(:last-child)::after {
      content: ', '
    }
  }

  &__weight-switcher {
    display: flex;
    margin: 0 10px 10px;
    padding: 2px;
    border: 1px solid $gray-light;
    border-radius: 12px;
    color: $dark-font;

    .radio-box {
      width: 100%;

      input[type=radio] {
        display: none;
      }

      input[type=radio]:checked + label {
        background: $gray-dark;
        color: $white;
      }

      label {
        font-size: 12px;
        line-height: 16px;
        color: $dark-font;
        position: relative;
        width: 100%;
        border-radius: 10px;
        overflow: hidden;
        transition: 0.2s;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2px 0;
        cursor: pointer;
      }
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

    &-price {
      font-size: 36px;
      font-weight: 900;
      display: flex;
      align-items: flex-start;
      line-height: 30px;
      position: relative;

      .price {
        .rubles {
          color: $dark-font;
          font-weight: bold;
        }
        .kopecks {
          color: $dark-font;
          font-size: 14px;
          margin-left: 2px;
        }
      }

      .currency {
        font-size: 14px;
        color: $gray-dark;
        font-weight: bold;
        position: absolute;
        right: -22px;
        bottom: -7px;
      }
    }
    .button {
      padding: 10px 16px;
      width: 105px;
      border: none;
      background: $pink;
      border-radius: 20px;
      font-weight: bold;
      font-size: 14px;
      line-height: 20px;
      color: $white;
      cursor: pointer;
      transition: 0.2s;
      white-space: nowrap;

      &:hover {
        background: $pink-light;
      }
    }
  }
}