@import '../../scss/_all';

.infoBlock {
  &::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: $pink;
  }

  &__title {
    font-family: "Lugrasimo", cursive;
    color: $dark-font;
  }

  &__content {
    margin: 10px 0;
    width: 80%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  &__btnsBlock {
    display: flex;
    justify-content: space-between;
  }

  &__list {
    margin: 10px 0;
    text-align: center;
  }
}

.listItem {
  &__trashIcon,
  &__editIcon {
    width: 20px;
    height: 20px;
    cursor: pointer;
    transition: .3s ease;
  }

  &__trashIcon:hover,
  &__editIcon:hover {
    color: $pink;
  }
}