@import '../../scss/all';

.root {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: $pink;
  text-align: center;
  padding-top: 4px;
  position: absolute;
  top: 5px;
  left: 5px;

  @media (max-width: 468px) {
    width: 28px;
    height: 28px;
    padding-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media (max-width: 390px) {
    width: 25px;
    height: 25px;
  }

  &__text {
    text-transform: uppercase;
    color: $white;
    font-size: 12px;

    @media (max-width: 468px) {
      font-size: 9px;
    }
  }
}