@import '../../scss/all';

.root {
  padding: 10px 0 30px;

  @media(max-width: 468px) {
    padding: 10px 0;
  }
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.logo {
  display: flex;

  @media(max-width: 968px) {
    order: -2;
    flex: 1 0 35%;
    margin-bottom: 15px;
  }

  &__img {
    margin-right: 15px;

    @media (max-width: 560px) {
      width: 60px;
      height: 60px;
      margin-right: 10px;
    }

    @media (max-width: 468px) {
      width: 40px;
      height: 40px;
      margin-right: 5px;
    }
  }

  &__title {
    font-family: "Lugrasimo", cursive;
    color: $dark-font;
    font-size: 36px;
    text-transform: uppercase;

    @media (max-width: 560px) {
      font-size: 28px;
    }

    @media (max-width: 468px) {
      font-size: 18px;
    }
  }

  &__subtitle {
    font-family: "Pacifico", cursive;
    color: $gray-font;
    font-size: 14px;

    @media (max-width: 468px) {
      font-size: 12px;
      line-height: 14px;
    }

    @media (max-width: 396px) {
      display: none;
    }
  }
}

.cart {
  @media(max-width: 968px) {
    order: -1;
    flex: 1 0 35%;
    display: flex;
    justify-content: flex-end;
  }

  &__link {
    display: inline-block;
    min-width: 100px;
    text-align: center;
    position: relative;

    @media (max-width: 468px) {
      min-width: 70px;
    }
  }

  &__price {
    position: absolute;
    top: -20px;
    left: 0;
    font-weight: bold;
    color: $pink;

    @media (max-width: 468px) {
      font-size: 14px;
    }
  }

  &__icon {
    width: 40px;
    height: 40px;

    @media (max-width: 468px) {
      width: 30px;
      height: 30px;
    }
  }

  &__circle {
    width: 25px;
    height: 25px;
    position: absolute;
    bottom: 0;
    right: 0px;
    border-radius: 50%;
    background-color: $pink;
    text-align: center;

    @media (max-width: 468px) {
      width: 20px;
      height: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    span {
      color: $white;
      font-size: 12px;

      @media (max-width: 468px) {
        font-size: 10px;
      }
    }
  }
}