@import '../../scss/all';

.root {
  padding: 30px 0;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;

  &__img {
    margin-right: 15px;
  }

  &__title {
    font-family: "Lugrasimo", cursive;
    color: $dark-font;
    font-size: 36px;
    text-transform: uppercase;
  }

  &__subtitle {
    font-family: "Pacifico", cursive;
    color: $gray-font;
    font-size: 14px;
  }
}

.cart {
  &__link {
    display: inline-block;
    min-width: 100px;
    text-align: center;
    position: relative;
  }

  &__price {
    position: absolute;
    top: -20px;
    left: 0;
    font-weight: bold;
    color: $pink;
  }

  &__circle {
    width: 25px;
    height: 25px;
    position: absolute;
    bottom: 0;
    right: 0px;
    border-radius: 50%;
    background-color: $pink;
    text-align: center;

    span {
      color: $white;
      font-size: 12px;
    }
  }
}