$container-width: 90%;

$bg:rgba(35, 33, 22, 0.7);
$bg-btn: #f9f9f9;
$bg-btn-active: #282828;
$bg-modal-window: rgba(0, 0, 0, 0.4);

$black: #000;
$white: #fff;
$pink: #f33030;
$pink-light: #f17172;
$orange: #df9408;
$gray-light:#d0d0d0;
$gray-dark: #323232;

$first-weight-price-box: #d31010;
$second-weight-price-box: #f1c707;
$third-weight-price-box: #2aee10;
$fourth-weight-price-box: #1d1adf;
$fifth-weight-price-box: #a014e0;

$dark-font: #323232;
$gray-font: #8a8a8a;