@import '../../scss/all';

.top {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.title {
  display: inline-block;
  margin: 30px 0 50px;
  color: $dark-font;

  &::after {
    content: '';
    display: block;
    width: 100%;
    height: 8px;
    background-color: $orange;
    border-radius: 4px;
    margin-top: 5px;
  }
}

.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 -10px;
}