@import '../../scss/all';

.root {
  padding-top: 10px;
}

.nav {
  display: flex;
  justify-content: flex-end;

  &__link {
    color: $gray-font;
    display: inline-block;
    margin-left: 15px;
    transition: .3s ease;

    &:hover {
      color: $dark-font;
      text-decoration: underline;
    }
  }
}

:global {
  .active {
    color: $orange;
    text-decoration: underline;
  }
}

