@import '../../scss/all';

.container {
  position: relative;
  flex: 1 0 300px;
}

.top {
  display: flex;
  align-items: center;
}

.title {
  margin-right: 10px;
  display: flex;
  justify-content: space-between;

  & .criterion{
    padding-left: 10px;
    color: $orange;
    font-weight: bold;
    cursor: pointer;
    text-decoration: underline;
  } 
}

.popup {
  position: absolute;
  width: 100%;
  left: 0;
  margin-top: 10px;
  background: $white;
  box-shadow: 0px 10px 20px $black;
  border-radius: 10px;
  overflow: hidden;
}

.list {
  overflow: hidden;
}


.list__item {
  padding: 10px 15px;
  color: $gray-font;
  cursor: pointer;

  &.active,
  &:hover {
    background: rgba(77, 56, 49, 0.1);
  }

  &.active {
    font-weight: bold;
    color: $dark-font
  }
}