@import '../../scss/all';

.container {
  position: relative;
  flex: 1 0 300px;

  @media (max-width: 1130px) {
    flex: none;
    align-self: flex-end;
  }
}

.top {
  display: flex;
  align-items: center;
}

.title {
  margin-right: 10px;
  display: flex;
  justify-content: space-between;

  @media (max-width: 668px) {
    font-size: 14px;
  }

  @media (max-width: 468px) {
    font-size: 12px;
  }

  & .criterion{
    padding-left: 10px;
    color: $orange;
    font-weight: bold;
    cursor: pointer;
    text-decoration: underline;
  } 
}

.popup {
  position: absolute;
  width: 100%;
  left: 0;
  margin-top: 10px;
  background: $white;
  box-shadow: 0px 10px 20px $black;
  border-radius: 10px;
  overflow: hidden;
  z-index: 100;

  @media (max-width: 468px) {
    margin-top: 0;
  }
}

.list {
  overflow: hidden;
}


.list__item {
  padding: 10px 15px;
  color: $gray-font;
  cursor: pointer;

  @media (max-width: 668px) {
    font-size: 14px;
    padding: 7px 10px;
  }

  @media (max-width: 468px) {
    font-size: 12px;
  }

  &.active,
  &:hover {
    background: rgba(77, 56, 49, 0.1);
  }

  &.active {
    font-weight: bold;
    color: $dark-font
  }
}